/*
** TODO: файл нужно назвать 'index.css'
 */
/*
** TODO: не используются CSS переменные
 */
body{
    font-family: 'Ubuntu', sans-serif;
    color: #212353;
    background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
    max-width: 1600px;
    margin: 0 auto;
}

.main_container, .footer_container, .header {
    max-width: 1120px;
}

.main_container, .header, .features_subtitle, .footer_container {
    margin: 0 auto;
}

.main_container {
    min-width: 320px;
    width: 100%;
}

.header, .header__navigation, .intro, .about, .cards, .card, .button_arrow, .slider_item, .slider_container, .slider_arrow, .footer_container {
    display: flex;
}

.header__navigation, .slider_arrow, .footer_container {
    justify-content: space-between;
}

.header{
    padding-top: 62px;
}

.header__logo {
    height: 39px;
}

.header__navigation{
    width: 250px;
    font-weight: 500;
    list-style: none;
    font-size: 16px;
    padding-left: 170px;
}

.header__navigation a{
    text-decoration: none;
}

.header__navigation :hover{
    font-weight: 800;
}

.intro {
    margin-top: 130px;
    margin-bottom: 250px;
}

.intro__title {
    font-size: 5rem;
    /*
    ** TODO: px писать не нужно в этой правиле
     */
    font-weight: 700px;
    width: 645px;
}

.intro_text {
    font-size: 18px;
    width: 380px;
    line-height: 160%;
    margin-bottom: 50px;
}

.button {
    background-color: #9C69E2;
    text-decoration: none;
    color: #ffffff;
    padding: 15px 37px 15px 37px;
    text-align: center;
    position: absolute;
    border-radius: 50px;
    font-size: 18px;
}

.button:hover{
    background-color: #ffffff;
    color: #9C69E2;
    cursor: pointer;
    /*
    ** TODO: лучше писать одной строкой border: 3px solid #9C69E2
     */
    border: solid 3px;
    border-color: #9C69E2;
    font-weight: 800;
}

.benefits_image {
    left: 38%;
    position: absolute;
    top: 418px;
    width: 48%;
}

.about {
    /*
    ** TODO: в нулевых значениях пишем '.15'
     */
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    justify-content: start;
    margin-bottom: 100px;
}

.about_image {
    padding-bottom: 32px;
    height: 561px;
}

.about_container {
    margin-left: 35px;
}

.about_title {
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    width: 475px;
    margin-top: 125px;
}

.about_text {
    font-size: 18px;
    line-height: 160%;
    width: 475px;
}

.features_title {
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    text-align: center;
}

.features_subtitle {
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    /*
    ** TODO: слишком много жестко заданных значений
     */
    width: 585px;
    margin-bottom: 70px;
}

.cards {
    /*
    ** TODO: лучше использовать flex-end
     */
    justify-content: end;
    margin-bottom: 50px;
}

.card_left, .card_image, .slider_arrow, .footer_ikon {
    position: relative;
}

.card_left {
    left: 106px;
}

.card_image {
    left: 132px;
    width: 220px;
}

.card_description {
    background-image: url(../images/card1_background.svg);
    background-size: cover;
    width: 486px;
    height: 388px;
    padding-left: 170px;
    box-sizing: border-box;
    padding-top: 40px;
    display: grid;
}

.card2 {
    background-image: url(../images/card2_background.svg);
}

.card3 {
    background-image: url(../images/card3_background.svg);
}

.card4 {
    background-image: url(../images/card4_background.svg);
}

.card_title {
    font-size: 24px;
    font-weight: 400;
}

.card_text {
    font-size: 16px;
    line-height: 160%;
    width: 225px;
}

.card_button {
    font-weight: 800;
    font-size: 16px;
    color: #212353;
    text-decoration: none;
}

.arrow {
    margin-left: 20px;
    width: 24px;
    top: -25%;
    position: relative;
}

.slider {
    background: #9C69E2;
    border-radius: 50px;
    height: 709px;
    padding-top: 120px;
    padding-left: 90px;
    margin-top: 135px;
    margin-bottom: 135px;
}

.slider_title {
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 95px;
}

.slider_item {
    width: 645px;
    height: 330px;
    background: #FFFFFF;
    /*
    ** TODO: px опускаем в нулевых значениях
     */
    box-shadow: 0px 20px 0px rgb(156 105 226 / 30%);
    border-radius: 20px;
    padding: 70px 60px;
    box-sizing: border-box;
    margin-right: 21px;
}

.slider_photo {
    width: 90px;
    height: 90px;
}

.testimonial_name {
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
}

.testimonial_descrittion {
    font-weight: 500;
    font-size: 14px;
    color: #9C69E2;
}

.testimonial-text {
    font-size: 18px;
    line-height: 180%;
}

.slider_testimonial {
    margin-left: 49px;
}

.slider_container {
    justify-content: center;
    position: absolute;
}

.slider_arrow {
    top: 454px;
}

.slider_arrow2 {
    margin-right: 55px;
}

.line {
    background: #9C69E2;
    opacity: 0.2;
}

.footer_block {
    height: 166px;
    background: #C4C4C4;
    margin-top: 20px;
    width: 100%;
}

.footer {
    padding-bottom: 50px;
}

.footer_ikon {
    top: -95px;
}

.adress, .email {
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
}

.adress {
    margin-bottom: 25px;
}

.footer_contact {
    width: 335px;
    margin-top: 50px;
}

.email {
    font-weight: 400;
}

.copiright {
    font-size: 12px;
    line-height: 180%;
    letter-spacing: 0.01em;
    margin-top: 25px;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .header, .main_container {
        max-width: 880px;
    }

    .benefits_image {
        left: 37%;
        top: 453px;
        width: 45%;
    }

    .intro {
        margin-top: 45px;
    }

    .about_image {
        height: 415px;
    }

    .about_text {
        font-size: 16px;
        width: 322px;
    }

    .about_title {
        font-size: 32px;
        width: 408px;
        margin-top: 60px;
    }

    .cards {
        margin-bottom: 97px;
    }

    .card_description {
        width: 60%;
        height: 117%;
        padding-left: 146px;
    }

    .card3, .card4 {
        width: 208px;
        height: 287px;
    }

    .card_image {
        width: 175px;
    }

    .card_description {
        width: 201px;
        height: 280px;
        box-sizing: content-box;
        /*
        ** TODO: нужно писать в одну строку такие значения
        ** padding: 0 15px 25px 161px
         */
        padding-top: 0px;
        padding-bottom: 25px;
        padding-left: 161px;
        padding-right: 15px;
    }

    .card_text {
        font-size: 14px;
        width: 209px;
    }

    .footer_container {
        justify-content: space-around;
    }

}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header, .main_container {
        max-width: 750px;
    }

    .intro {
        margin-top: 45px;
        margin-bottom: 170px;
    }

    .benefits_image {
        left: 43%;
        top: 441px;
        width: 46%;
    }

    .about {
        margin-bottom: 75px;
    }

    .about_image {
        height: 340px;
    }

    .about_title {
        font-size: 35px;
        width: 385px;
        margin-top: 35px;
    }

    .about_text {
        font-size: 16px;
        width: 347px;
    }

    .cards {
        display: block;
    }

    .card {
        margin-bottom: 35px;
    }

    .card_left {
        left: 0px;
    }

    .card_top {
        top: 27%;
        left: -2%;
    }

    .card_top-middle {
        padding-top: 83px;
        left: 56%;
    }

    .card_bottom-middle {
        left: -5%;
        top: 28%;
    }

    .card_bottom {
        padding-top: 115px;
        left: 58%;
    }

    .card_image {
        position: absolute;
        width: 317px;
    }

    .card_description {
        width: 610px;
        height: 493px;
        left: 85%;
        /*
        ** TODO: это правило здесь не нужно
         */
        position: sticky;
    }

    .card_title {
        font-size: 34px;
        margin-top: 45px;
    }

    .card_text {
        font-size: 20px;
        width: 380px;
        margin-top: 40px;
    }

    .card_button {
        font-size: 21px;
    }

    .button_arrow {
        margin-top: 60px;
    }

    .card_description-transform {
        transform: scale(-1, 1);
        left: 13%;
    }

    .card_title-transform {
        transform: scale(-1, 1);
        padding-left: 55px;
        margin-bottom: 0px;
    }

    .slider {
        height: 613px;
        padding-top: 28px;
        padding-left: 62px;
        margin-top: 115px;
        margin-bottom: 75px;
    }

    .slider_title {
        margin-bottom: 48px;
    }

    .slider_arrow {
        top: 413px;
    }

    .footer_container {
        justify-content: space-around;
    }
}

@media screen and (min-width: 560px) and (max-width: 767px) {
    .header {
        max-width: 500px;
        padding-top: 23px;
    }

    .main_container {
        max-width: 500px;
    }

    .header__navigation {
        width: 268px;
        font-size: 20px;
        padding-left: 50px;
        margin-top: 14px;
    }

    .intro {
        margin-top: 0px;
        margin-bottom: 110px;
    }

    .intro__title {
        font-size: 4rem;
        width: 500px;
    }

    .intro_text {
        font-size: 23px;
        margin-bottom: 35px;
        margin-top: 275px;
        width: 460px;
    }

    .benefits_image {
        left: 12%;
        top: 330px;
        width: 59%;
    }

    .button {
        font-size: 19px;
    }

    .about {
        margin-bottom: 60px;
    }

    .features_title {
        margin-bottom: 20px;
    }

    .features_subtitle {
        width: 419px;
    }

    .about_image {
        height: 167px;
    }

    .about_title {
        font-size: 22px;
        width: 303px;
        margin-top: 40px;
    }

    .about_text {
        font-size: 16px;
        width: 297px;
        margin-bottom: 30px;
    }

    .cards {
        display: block;
    }

    .card {
        margin-bottom: 35px;
    }

    .card_left {
        left: 0px;
    }

    .card_top {
        top: 27%;
        left: -2%;
    }

    .card_top-middle {
        padding-top: 83px;
        left: 56%;
    }

    .card_bottom-middle {
        left: -5%;
        top: 28%;
    }

    .card_bottom {
        padding-top: 115px;
        left: 58%;
        z-index: 1;
    }

    .card_image {
        position: absolute;
        width: 215px;
    }

    .card_description {
        width: 440px;
        height: 360px;
        left: 85%;
        position: sticky;
    }

    .card_title {
        font-size: 28px;
        margin-top: 0px;
    }

    .card_title {
        font-size: 34px;
    }

    .card_text {
        font-size: 15px;
        width: 218px;
        margin-top: 10px;
    }

    .card_button {
        font-size: 21px;
    }

    .button_arrow {
        margin-top: -6px;
    }

    .card_description-transform {
        transform: scale(-1, 1);
        left: 13%;
    }

    .card_title-transform {
        transform: scale(-1, 1);
        padding-left: 45px;
    }

    .card_text-left {
        margin-top: -15px;
    }

    .card_text1 {
        margin-top: 69px;
    }

    .slider {
        padding-top: 10px;
        padding-left: 37px;
        margin-top: 70px;
        height: 515px;
        margin-bottom: 75px;
    }

    .slider_item {
        width: 434px;
        height: 255px;
        padding: 16px 24px;
        margin-right: 21px;
    }

    .slider_title {
        margin-bottom: 30px;
    }

    .testimonial-text {
        font-size: 16px;
    }

    .slider_arrow {
        top: 345px;
    }

    .footer_container {
        justify-content: space-around;
    }
}

@media screen and (min-width: 320px) and (max-width: 559px) {
    .header {
        max-width: 300px;
        padding-top: 30px;
    }

    .header__logo {
        height: 35px;
      }

    .header__navigation {
        width: 215px;
        font-size: 18px;
        padding-left: 24px;
        margin-top: 14px;
    }

    .main_container {
        max-width: 300px;
    }

    .intro {
        margin-top: 0px;
        margin-bottom: 90px;
    }

    .intro__title {
        font-size: 2.9rem;
        width: 300px;
        margin-left: 10px;
    }

    .intro_text {
        font-size: 18px;
        margin-bottom: 14px;
        margin-top: 170px;
        width: 300px;
        margin-left: 10px;
    }

    .benefits_image {
        top: 300px;
        width: 259px;
        margin-left: -88px;
      }

    .button {
        font-size: 19px;
        margin-left: 10px;
    }

    .about, .cards, .card, .slider_item {
        display: block;
    }

    .about {
        margin-bottom: 32px;
        padding-bottom: 23px;
    }

    .features_title {
        margin-bottom: 20px;
    }

    .features_subtitle {
        width: 286px;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .about_image {
        height: 212px;
        padding-bottom: 0px;
        padding-left: 45px;
    }

    .about_title {
        width: 280px;
        margin-top: 10px;
    }

    .about_text {
        width: 257px;
    }

    .cards, .card, .card_text-left, .card_text-bottom {
        margin-bottom: 0px;
    }

    .card {
        left: 0px;
    }

    .card_left {
        left: 0px;
    }

    .card_top {
        margin-bottom: -45px;
        left: -2%;
    }

    .card_top-middle {
        padding-top: 0px;
        left: 0%;
        margin-bottom: -26px;
    }

    .card_bottom-middle {
        left: 0%;
        top: 0%;
        margin-bottom: -42px;
    }

    .card_bottom {
        padding-top: 0px;
        left: 0%;
        margin-bottom: -43px;
    }

    .card_image {
        position: relative;
        width: 140px;
        margin-top: 30px;
        margin-left: 104px;
    }

    .card_description {
        width: 320px;
        height: 271px;
        left: -1%;
        position: relative;
        padding-left: 75px;
        padding-top: 15px;
    }

    .card_title {
        font-size: 28px;
        margin-top: 11px;
    }

    .card_title-midle {
        margin-top: 33px;
      }

    .card_text {
        font-size: 15px;
        width: 218px;
        margin-top: -20px;
        margin-bottom: -20px;
    }

    .card_button {
        font-size: 19px;
    }

    .button_arrow {
        margin-top: 34px;
    }

    .card_title-transform {
        margin-top: 15px;
    }

    .card_text-left, .card_text-bottom {
        margin-top: -13px;
    }

    .slider {
        padding-top: 10px;
        padding-left: 25px;
        margin-top: 70px;
        height: 478px;
        margin-bottom: 75px;
    }

    .slider_item {
        width: 274px;
        height: 262px;
        padding: 16px 24px;
        margin-right: 21px;
    }

    .slider_photo {
        width: 50px;
        height: 50px;
    }

    .slider_testimonial {
        margin-left: 0px;
    }

    .testimonial_name {
        margin-left: 69px;
        margin-top: -51px;
      }

    .testimonial_descrittion {
        margin-left: 69px;
    }

    .slider_title {
        margin-bottom: 30px;
    }

    .testimonial-text {
        font-size: 16px;
        width: 204px;
    }

    .slider_arrow {
        top: 309px;
    }

    .footer_container {
        justify-content: space-around;
    }

.adress {
    margin-bottom: 20px;
    font-size: 15px;
}

.copiright {
    font-size: 10px;
    margin-top: 20px;
}

.footer_contact {
    width: 150px;
    margin-top: 24px;
}

.footer_ikon {
    top: -130px;
    width: 100px;
}

.footer_block {
    height: 100px;
}

}
